Django==1.5.1
dj-database-url==0.2.1
dj-static==0.0.5
gunicorn==17.5
psycopg2==2.5
South==0.7.6
django-nose==1.1
lettuce==0.2.16
splinter==0.5.2
django-extensions==1.1.1
uWSGI==1.9.12
Fabric==1.6.1
mock
git+git://github.com/InviteBox/django-live-profiler.git
newrelic==1.13.1.31
django-cms
PIL
django-classy-tags
django-mptt
django-sekizai
html5lib
django-reversion
